@import "utils";

* {
    color: #fff;
    @media all and (max-width: $md) {
        font-size: 14px;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #fff;
    margin-bottom: 0;
}

/*Ant design components*/
.ant-input-number {
    width: 100%;
}

.custom-select {
    .ant-select-selection--multiple .ant-select-selection__choice {
        background-color: rgba(76, 76, 133, 0.45);
    }
}

.custom-dropdown {
    .ant-select-dropdown-menu-item {
        color: #fff;
        svg {
            display: none;
        }
    }
    .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
        background-color: #000000cc;
    }
    .ant-select-dropdown-menu-item-selected {
        svg {
            display: block;
            fill: #fff;
        }
    }
}

.ant-input-group-addon {
    background: none;
}
