@import "utils";

* {
    color: #fff;
    @media all and (max-width: $md) {
        font-size: 14px;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #fff;
    margin-bottom: 0;
}

/*Ant design components*/
.ant-input-number {
    width: 100%;
}

.custom-select {
    .ant-select-selection--multiple .ant-select-selection__choice {
        background-color: rgba(76, 76, 133, 0.45);
    }
}

.custom-dropdown {
    .ant-select-dropdown-menu-item {
        color: #fff;
        svg {
            display: none;
        }
    }
    .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
        background-color: #000000cc;
    }
    .ant-select-dropdown-menu-item-selected {
        svg {
            display: block;
            fill: #fff;
        }
    }
}

.ant-input-group-addon {
    background: none;
}

.ant-btn svg {
    vertical-align: baseline;
}
.ant-select-selection__choice svg{
    vertical-align: bottom;
}
// date picker
.ant-calendar-header {
    .ant-calendar-month-select,
    .ant-calendar-year-select {
        color: #fff;
    }
}

.ant-calendar-range .ant-calendar-in-range-cell::before {
    background-color: rgba($color: #000000, $alpha: 0.5);
}

@media all and (max-width: $md) {
    .ant-calendar-date-panel {
        display: grid;
    }
    .ant-calendar-range-part {
        width: 100%;
        &.ant-calendar-range-left .ant-calendar-input-wrap {
            display: none;
        }
    }
    .ant-calendar-range-middle {
        display: none;
    }
    .ant-calendar-picker-container {
        top: 0 !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
}
