@import "utils";

*,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff;
}
body {
    font-size: 16px;
}
h1 {
    font-size: 2.5rem;
    font-weight: 500;
}
h2 {
    font-size: 2rem;
    font-weight: 500;
}
h3 {
    font-size: 1.5rem;
    font-weight: 500;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1rem;
    font-weight: 500;
}
h6 {
    font-size: 1rem;
}
p {
    color: #fff;
}

@media all and (max-width: $md) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 2rem;
        font-weight: 500;
    }
    h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }
    h3 {
        font-size: 1.25rem;
        font-weight: 500;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1rem;
        font-weight: 500;
    }
    h6 {
        font-size: 1rem;
    }
}

/*Ant design components*/
.ant-input-number {
    width: 100%;
}

.custom-select {
    .ant-select-selection--multiple .ant-select-selection__choice {
        background-color: rgba(76, 76, 133, 0.45);
    }
}

.custom-dropdown {
    .ant-select-dropdown-menu-item {
        color: #fff;
        svg {
            display: none;
        }
    }
    .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
        background-color: #000000cc;
    }
    .ant-select-dropdown-menu-item-selected {
        svg {
            display: block;
            fill: #fff;
        }
    }
}

.custom-card-tab {
    .ant-tabs-bar {
        border: none;
        border-top: 1px solid rgb(62, 62, 62);
        border-bottom: 1px solid rgb(62, 62, 62);
    }
    &.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
        background-color: rgba(35, 38, 50, 0.5);
        border: none;
    }
    &.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
        border-bottom: 2px solid #fff;
        background: linear-gradient(rgba(60, 64, 77, 0.75) 0%, rgba(76, 76, 133, 1) 100%);
    }
}

.ant-input-group-addon {
    background: none;
}

.ant-btn svg {
    vertical-align: baseline;
}
.ant-select-selection__choice svg {
    vertical-align: bottom;
}
// date picker
.ant-calendar-header {
    .ant-calendar-month-select,
    .ant-calendar-year-select {
        color: #fff;
    }
}

.ant-calendar-range .ant-calendar-in-range-cell::before {
    background-color: rgba($color: #000000, $alpha: 0.5);
}

@media all and (max-width: $md) {
    .ant-calendar-date-panel {
        display: grid;
    }
    .ant-calendar-range-part {
        width: 100%;
        &.ant-calendar-range-left .ant-calendar-input-wrap {
            display: none;
        }
    }
    .ant-calendar-range-middle {
        display: none;
    }
    .ant-calendar-picker-container {
        top: 0 !important;
        left: 50% !important;
        transform: translateX(-50%);
    }
}
